footer {
    @include set_dimensions(100%, 120px);
    background: $footerBackground;
    text-align: center;
    color: $white;
    padding-top: 50px;
    @include break(459px) {
        text-align: center;
    }
    > p,
    > img {
        float: none;
        margin: 0;
    }
}

.social-media {
    margin: 0 auto;
    width: 165px;
    a {
        display: block;
        text-indent: -9999px;
        @include set_dimensions(36px, 36px);
    }
    $i:0;
    @while $i<5 {
        div:nth-child(#{$i}) {
            background:url($socialmediaImageFooter)  ($i - 1)*-38px 0; // this is the math operation. Which gives uniform spacing for all div blocks
            $i : $i +1;
        }
    }
    div {
        float: left;
        margin-right: 5px;
    }
}
