$red: #E65C43;
$white: #FFFFFF;
$grey: #666666;
$greybarBackground: #F5F6F6;
$headlineBackground: #F25C43;
$footerBackground: #30353D;

$backgroundImageUrl: "../images/bg.gif";
$vectacorpLogoImageUrl: "../images/logo.png";
$socialmediaImageFooter: "../images/social-media.png";

$default-font: "Roboto";
