.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: 25px auto;
    display: grid;
    grid-template-rows: 80px 350px 50px repeat(2, 1fr) 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    min-height: 960px;
}

main>* {
    background-color: silver;
}

header {
    grid-row: 1/2;
    grid-column: 1/2;
}

nav {
    grid-row: 1/2;
    grid-column: 3/span 2;
    align-self: center;
}

nav ul {
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template: auto/repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    align-self: center;
    height: 45px;
    grid-gap: 15px;
}

li a {
    text-decoration: none;
    color: black;
}

.heading {
    grid-row: 2/3;
    grid-column: 1/span 4;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.5em;
}

.section1 {
    grid-row: 3/4;
    grid-column: 1/span 1;
}

.section2 {
    grid-row: 3/4;
    grid-column: 3/span 1;
}

.section3 {
    grid-row: 4/5;
    grid-column: 1/span 2;
}

.section4 {
    grid-row: 4/5;
    grid-column: 3/span 1;
}

.section5 {
    grid-row: 4/5;
    grid-column: 4/span 1;
}

.section6 {
    grid-row: 5/6;
    grid-column: 1/span 2;
}

.section7 {
    grid-row: 5/6;
    grid-column: 3/span 1;
}

.section8 {
    grid-row: 5/6;
    grid-column: 4/span 1;
}

footer {
    grid-row: 6/7;
    grid-column: 1/span 4;
    display: grid;
    justify-items: center;
}